Hi there!<br>
<p>
I am Eris! A 27 year old big nerd and geek who enjoys crafting pixels and codes.
I live in Germany in a small peaceful Town called Nussdorf.
Whilst I'm mostly occupied learning new techs I'm looking for any kind of job that can grand me more indepth experience.
</p>
<p>
Fluent in german and english, spoken and written.
I have mayor knowledge in web development and an eye for design but wouldn't also mind
to get to know new stuff.
<p>
If you are looking to adopt an seemingly adult with great humor please lets have a
chat for busniess inquiries at <a href="mailto:eris.tubo@gmail.com">eris.tubo@gmail.com</a>
</p>
