<h2 class="section-title unselectable">Pixel Dailies</h2>
<nav class="gallery-nav unselectable">
  <form class="nav-toggles nav-untoggles">
    <label>Pixel Dailies</label>
    <input type="checkbox" ><span>{{ site.categories.pixeldailies.size }}</span></input>
  </form>
  <form class="nav-toggles nav-toggeled ">
    <label for="fin" >Finished</label>
    <input type="checkbox" id="fin" checked><span class="finbadge">{{ site.tags['fin'].size }}</span></input>
  </form>
  <form class="nav-toggles nav-toggeled">
    <label for="wip" >In progress</label>
    <input type="checkbox" id="wip" checked><span class="wipbadge">{{ site.tags['wip'].size }}</span></input>
  </form>
  <form class="nav-toggles">
    <label for="hld" >On hold</label>
    <input type="checkbox" id="hld" checked><span class="hldbadge">{{ site.tags['hld'].size }}</span></input>
  </form>
  <div id="pbar">
    <div id="pbar-fin"></div>
    <div id="pbar-wip"></div>
    <div id="pbar-hld"></div>
  </div>
</nav>
<section class="gallery">
  {% for post in site.posts | %}
    {% if post.categories contains 'pixeldailies' %}
      <div class="unselectable">
        <div>
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
